<% f.object.build_associations %>
<% config = f.object.config %>

<div class="row field">
	<%= f.hidden_field :type %>
	<%= f.fields_for :image do |im| %>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<p><%= im.label (f.object.variable_name || "image").humanize %></p>
					<%= im.file_field :asset, class: "form-control" %>
					<%= im.help_text f.object.config[:help_text] %>
				</div>
				<% if config[:show_name] %>
					<div class="col-md-12">
						<p><%= im.label :name %></p>
						<%= im.text_field :name, class: "form-control" %>
					</div>
				<% end %>
				<% if config[:show_caption] %>
					<div class="col-md-12">
						<p><%= im.label :caption %></p>
						<%= im.text_field :caption, class: "form-control" %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class="col-md-6">
		<% if f.object.image&.asset.present? %>
			<% if f.object.image.image? %>
				<%= image_tag f.object.image.asset.url(:thumb) %>
			<% else %>
				<%= link_to f.object.image.asset_file_name, f.object.image.asset.url(:original) %>
			<% end %>
		<% end %>
	</div>
</div>
