<% f.object.build_associations %>
<% config = f.object.config %>

<div class="row field">
	<%= f.hidden_field :type %>
	<%= f.fields_for :image do |i| %>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<p><%= i.label :image %></p>
					<%= i.file_field :asset, class: "form-control" %>
					<%= i.help_text f.object.config[:help_text] %>
				</div>
				<% if config[:show_name] %>
					<div class="col-md-12">
						<p><%= i.label :name %></p>
						<%= i.text_field :name, class: "form-control" %>
					</div>
				<% end %>
				<% if config[:show_caption] %>
					<div class="col-md-12">
						<p><%= i.label :caption %></p>
						<%= i.text_field :caption, class: "form-control" %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class="col-md-6">
		<% if f.object.image&.asset.present? %>
			<%= image_tag f.object.image.asset.url(:thumb) %>
		<% end %>
	</div>
</div>
